RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

<Files admin.php>
AuthType Basic
AuthName "Authentication Required"
AuthUserFile C:/xampp/htdocs/.htpasswd
Require valid-user
</Files>